* {
  /* border: 1px solid red; */
  background-color: azure;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Inknut Antiqua', serif;
  /* font-family: 'Eczar', serif; */
  /* font-family: 'Cormorant', serif; */
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Eczar&family=Inknut+Antiqua:wght@300&family=Playfair+Display&display=swap');

:root {
  --FirstC: #055a39;
  --SecondC: #f3a51a;
  --ThirdC: #B40C52;
  --Highlight: #00878a;
  --Hide: rgba(255, 255, 255, 0);
  --borders: 3px solid #080E44;
  --br: 10px;
  --shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  --lift: 10px 10px 5px #aaaaaa;
  --dark: #080D46;
}


/* ideally want to find a way to get the logo to stick at 'about me' section when scrolling */
.logo {
  position:fixed;
  background: var(--Hide);
  margin-top: 20px;
  margin-left:10px;
  top:43px;
  position: fixed;
  }

.logo img{
  height: 200px;
  width:250px;
  background: var(--Hide);
  position: sticky;
  top: 200px;
}

.gridtry {
  display: grid; 
  grid-template-columns: 0.7fr 1.3fr 1fr; 
  grid-template-rows: 30px 200px 1fr 100px; 
  gap: 5px 10px; 
  grid-template-areas: 
    "hn hn hn "
    "ba ba ba"
    "la ab ab"
    "wt wt wt"; 
}
header { 
  grid-area: hn; 
 }
nav {
  background-color: var(--dark);
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:  
  "l1 l2 l3"; 
  display: flex;
  justify-content: space-around;
}
/* Need to get these smaller. Also a bit hectic change them. */
nav button {
  margin: 5px;
  height: 30px;
  width: 200px;
  padding:20;
  Border:var(--borders); 
  display:flex;
  justify-content: space-around;
  }
.Link1, .Link2, .Link3 {
  border-radius: var(--br);
  box-shadow: var(--shadow);
  background-position: center;
  background-size: cover;
}
.Link1 a, .Link2 a, .Link3 a {
background-color: var(--Hide);
font-size: xx-large;
position:relative;
top:-32px;
color: black;
width:300px;
} 
/* text shadow?? */
.Link1 a:hover, .Linkedin a:hover, .Spotify a:hover{
  color: #0b9661;
  text-shadow:var(--shadow);
}
.Link2 a:hover, .Github a:hover, .Youtube a:hover {
  color: var(--SecondC);
}
.Link3 a:hover, .Twitter a:hover, .Blog a:hover {
  color:var(--ThirdC);
}
a:hover {
  border-bottom: 1px solid;
  background: #00888a96;
}
.Link1 {
  grid-area:l1;
  /* background-image: url("https://github.com/Angelina12P/Portfolio1/blob/main/assets/Images/Green%20Button.png?raw=true"); */
  background-color: var(--FirstC);
}
.Link2 {
  grid-area:l2;
  /* background-image: url("https://github.com/Angelina12P/Portfolio1/blob/main/assets/Images/Yellow%20Button.png?raw=true"); */
  background-color: var(--SecondC);  
}
.Link3 {
  grid-area:l3;
  /* background-image: url("https://github.com/Angelina12P/Portfolio1/blob/main/assets/Images/Pink%20Button.png?raw=true"); */
  background-color: var(--ThirdC);
}


#hero-banner { 
  grid-area: ba; 
  background-image: url("https://github.com/Angelina12P/Portfolio1/blob/main/assets/Images/Header.png?raw=true");
  background-size: cover;
  height:190px;
  padding: 2px;
  border-top: var(--borders);
  border-bottom: var(--borders);
}
.title {
  background:var(--Hide);
  font-size: 50pt;
  position:relative;
  left:30%;
  top: 20%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

#about { 
  width:auto;
  grid-area: ab;
  padding: 10px;
  margin: 10px; 
  display:flex;
  justify-content:center;
  align-items:center;
}

.logoarea { 
  grid-area: la;
  background:white; 
}

.wt { 
grid-area: wt; 
display:flex;
justify-content: center;
align-items:center
}


#work {
margin:10px;;
color:purple;
display:grid;
gap: 1em;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 300px 300px;
grid-template-areas: 
"p1 p1 p2 p2 p3"
"p6 p5 p5 p4 p3";
}

.Pic1, .Pic2, .Pic3, .Pic4, .Pic5, .Pic6 {
padding: 2px;
border: var(--borders);
border-radius: 10px;
box-shadow: var(--lift);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
display:grid;
align-content: end;
}

.Pic1 {
grid-area:p1;
background-image: url("https://github.com/Angelina12P/Portfolio1/blob/main/assets/Images/Coloured/Running%20coloured.png?raw=true");
}
.Pic1:hover{
  background-image: url("https://github.com/Angelina12P/Portfolio1/blob/main/assets/Images/Normal/Running.png?raw=true");
}

.Pic2 {
grid-area:p2;
background-image: url("https://github.com/Angelina12P/Portfolio1/blob/main/assets/Images/Coloured/Surf%20coloured.png?raw=true");
}
.Pic2:hover{
  background-image: url("https://github.com/Angelina12P/Portfolio1/blob/main/assets/Images/Normal/Surf.png?raw=true");
}

/* Fix this!! */
.Pic3 {
grid-area:p3;
background-color: var(--ThirdC);
}

.Pic3 img {
  max-width: 200px;
  object-position: center;
  background: var(--Hide);
  z-index:2;
}
.Pic4 {
grid-area:p4;
background-image: url("https://github.com/Angelina12P/Portfolio1/blob/main/assets/Images/Coloured/LED%20coloured.png?raw=true");
background-color: var(--FirstC);
}
.Pic4:hover{
  background-image: url("https://github.com/Angelina12P/Portfolio1/blob/main/assets/Images/Normal/LED.png?raw=true");
}
.Pic5 {
grid-area:p5;
background-image: url("https://github.com/Angelina12P/Portfolio1/blob/main/assets/Images/Coloured/Puzzle%20coloured.png?raw=true");
}
.Pic5:hover{
  background-image: url("https://github.com/Angelina12P/Portfolio1/blob/main/assets/Images/Normal/Puzzle.png?raw=true");
}
.Pic6 {
grid-area:p6;
background-image: url("https://github.com/Angelina12P/Portfolio1/blob/main/assets/Images/Coloured/calculator%20coloured.png?raw=true")
}
.Pic6:hover{
  background-image: url("https://github.com/Angelina12P/Portfolio1/blob/main/assets/Images/Normal/calculator.png?raw=true");
}
.Pic1 h1, .Pic1 h2, .Pic4 h1, .Pic4 h2 {
background: var(--FirstC);
}
.Pic1 h1:hover, .Pic1 h2:hover, .Pic4 h1:hover, .Pic4 h2:hover{
background: #055a399a;
}
.Pic2 h1, .Pic2 h2, .Pic6 h1, .Pic6 h2 {
background: var(--SecondC);
}
.Pic2 h1:hover, .Pic2 h2:hover, .Pic6 h1:hover, .Pic6 h2:hover {
background: #f3a31aae;
}
.Pic3 h1, .Pic3 h2, .Pic5 h1, .Pic5 h2 {
background: var(--ThirdC);
}
.Pic3 h1:hover, .Pic3 h2:hover, .Pic5 h1:hover, .Pic5 h2:hover {
background: #b40c52af;
}

footer {
  background-color: var(--dark);
  border: var(--borders);
  border-radius: var(--br);
  margin:10px;
  padding:20px;
  box-shadow: var(--shadow);
}
footer a {
background-color: var(--Hide);
color:var(--SecondC)
}

#contact {
color: var(--SecondC);
background-color: var(--Hide);
margin:0 auto;
width:400px;
display:block;
}

#SM{
  font-weight: 300;
  background-color: var(--Hide);

  display:flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.SM a {
  background-color: var(--Hide);
  border: var(--borders);
  border-radius: var(--br);
  color: var(--dark);
  display: inline-block;
  font-size: 15px;
  margin-bottom: 3px;
  padding: 7px 12px;
  box-shadow: var(--shadow); 
}

.Github a, .Youtube a{
  /* background-image: url("https://github.com/Angelina12P/Portfolio1/blob/main/assets/Images/Overlay/yellow%20code.png?raw=true"); */
background-color: var(--SecondC);
}

.Twitter a, .Blog a{
  /* background-image: url("https://github.com/Angelina12P/Portfolio1/blob/main/assets/Images/Overlay/pink%20code.png?raw=true"); */
background-color: var(--ThirdC);
}

.Linkedin a, .Spotify a {
  /* background-image: url("https://github.com/Angelina12P/Portfolio1/blob/main/assets/Images/Overlay/green%20code.png?raw=true"); */
background-color: var(--FirstC);
}

.Github, .Twitter, .Linkedin, .Youtube, .Blog, .Spotify {
  /* box-shadow: var(--shadow); */
  padding: 5px;
}
.Github{grid-area:gh;}.Twitter{grid-area:tw;}.Linkedin{grid-area:lk;}.Youtube{grid-area:yt;}.Blog{grid-area:bl;}.Spotify{grid-area:sp;}

h1 {
font-size:35pt;
background-color:var(--Hide);
display:grid;
justify-content: center;
align-items: center;
color: var(--dark);
}

h2, p {
font-size:medium;
background-color:var(--Hide);
padding: 20px;
margin-left: 20px;
}

.bold {
font-weight:bold;
}



@media screen and (max-width:600px){
  main{
    max-width:fit-content;
  }
  .title{
    display:none;
  }
  #work {
    
    display:grid;
    gap: 1em;
    grid-template-columns: 1fr; 
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-areas: 
"p1"
"p2"
"p4"
"p5"
"p6";
}
.Pic3{
  display:none;
}
.nav, .header,  {
  display:none;
}
nav button {
  display:none;
}


/* flex box, media queries, CSS variables */